<h1>Moviebook</h1>

<ol>
  <li>
    <%= link_to 'Lista de gêneros de filmes', movie_genres_path %>
  </li>
  <li>
    <%= link_to 'Lista de diretores', directors_path %>
  </li>
  <li>
    <%= link_to 'Lista de filmes', movies_path %>
  </li>
</ol>